
*{
    margin:0;
    padding:0;

}

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.navbar{
    background-color:#FD6569;
    padding:10px;

}
.container{
    padding: 10px;
}
.book-container{
    padding:10px;
    width:20%;
    background-color: black;
    color:white;
    border-radius:15px;
    margin:30px;
    display:inline-block;
    vertical-align:top;
}
.book-container h2{
    color:#FD6569;
}
.book-container button {
    background-color:hsl(358, 86%, 67%);
    color:black;
    padding:10px;
    border:none;
    border-radius:15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:10px;
    padding-right:10px;
    margin-top:10px;

}
.add-button{
    background-color:#FD6569;
    color:black;
    border-radius:100%;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:30px;
    padding-right:30px;
    font-size:40px;
    position:fixed;
    border:none;
    bottom:30px;
    right:30px;
}
.popup-overlay{
    background-color:black;
    opacity: 0.8;
    position: absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1;
    display:none;
}
.popup-box{
    background-color:#fD6569;
    width:25%;
    padding:40px;
    border-radius:10px;
    position:absolute;
    top:20%;
    left:30%;
    z-index:2;
    display:none;

}
.popup-box input{
    background:transparent;
    border:none;
    width:100%;
    margin:5px;
    padding:5px;
    font-size:20px;
    border-bottom:solid black 2px;

}
.popup-box textarea{
    background:transparent;
    
    width:100%;
    margin:5px;
    padding:5px;
    font-size:20px;
    border:solid black 2px;
    
}
.popup-box input::placeholder{
    color: black;
}
.popup-box textarea::placeholder{
    color: black;
}
.popup-box button{
    background-color:black;
    padding-left:20px;
    padding-right:20px;
    border:none;
    padding-top:10px;
    padding-bottom:10px;
    color:white;
    margin:5px;
}
.popup-box input:focus{
    outline:none;
}
.popup-box textarea:focus{
    outline:none;
}